<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111350027-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111350027-1');
</script>

<%=content_for :page_header do %>
  Blog
<% end %>
<div style="padding-left: 20px;">
    <% if admin_signed_in? %>
      <%= button_to "Create Article", { action: 'new' }, method: :get,  class: 'button'%>
    <% end %>
</div>
<h3 style="font-family: 'Dosis'; padding-left: 20px;">
  <% if @articles.present? %>
    <% @articles.each_with_index do |article, index| %>
      <%= index+1 %>&nbsp&nbsp
      <%= link_to article.title, article_path(article), style: "text-decoration: none; color: black;" %>
      <br><br>
    <% end %>
  <% else %>
    <p class="para", style="color: #737373; font-size: 30px; ">Ummm..why don't you come back some other time! :D </p>
  <% end %>
</h3>
