<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111350027-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111350027-1');
</script>

<%=content_for :page_heading do %>
  Blog
<% end %>
<div style="padding-left: 20px;">
    <% if admin_signed_in? %>
      <%= button_to "Create Article", { action: 'new' }, method: :get,  class: 'btn btn-primary'%>
    <% end %>
</div>
<h3 style="font-family: 'Dosis'; padding-left: 20px;">
  <% if @articles.present? %>
    <% @articles.each_with_index do |article, index| %>
      <%= index+1 %>&nbsp&nbsp
      <%= link_to article.title, article_path(article), style: "text-decoration: none; color: black;" %>
      <br><br>
    <% end %>
  <% else %>
    <p style="color: #737373; font-size: 30px; ">Ummm..why don't you come back some other time! :D </p>
  <% end %>
</h3>
<footer>
  <p style="text-align: justified; font-size: 12px; position: absolute; bottom: 10px; margin: 20px;"><b>Disclaimer: </b>Each blog post has comments section to provide your feedback. Please provide your feedbacks/ask your doubts/correct me if I am wrong for the respective articles. Also you can suggest me to write on a particular topic relevant to Ruby on Rails and I will do my best to address them. I request you not to pollute this section with irrelevant comments as it is not only unprofessional but it also becomes an overhead for me because every comment triggers an intimation email to the commenter and the admin. I am open to all sorts of feedback as long as it is relevant to the topic in discussion. People who post unwanted comments are despised here.</p>
</footer>
