@import url("https://fonts.googleapis.com/css?family=Comfortaa|Dosis:300");
/* line 3, /Users/VinodDalavai/dev/biog/app/assets/stylesheets/welcome.scss */
.heading {
  font-family: 'Comfortaa';
}

/* line 7, /Users/VinodDalavai/dev/biog/app/assets/stylesheets/welcome.scss */
body {
  background: url(/assets/macbook-f1aeac002bbb1e308ca2d6c33ed665ed4b35c0ab31d8584012c720d40eedae25.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 13, /Users/VinodDalavai/dev/biog/app/assets/stylesheets/welcome.scss */
.layer {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 22, /Users/VinodDalavai/dev/biog/app/assets/stylesheets/welcome.scss */
p {
  font-family: 'Dosis';
  color: silver;
  font-size: 20px;
}

/* line 28, /Users/VinodDalavai/dev/biog/app/assets/stylesheets/welcome.scss */
.para {
  margin: 50px;
}

/* line 32, /Users/VinodDalavai/dev/biog/app/assets/stylesheets/welcome.scss */
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 50;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* line 43, /Users/VinodDalavai/dev/biog/app/assets/stylesheets/welcome.scss */
.sidebar-items {
  text-align: left;
  margin: 20px;
}
