<%= content_for :page_heading do %>
  About
<% end %>

<p style="margin: 40px 20px 40px 20px;">
Hey there! I am Vinod. I was born in Jamshedpur, Jharkhand completed my schooling there. I then pursued B.E in Chemical Engineering from SIT, Tumkur. I got placed in a well recognised IT Company during the 7th semester and I started my professional career after graduating in the year 2012.
</p>

<p style="margin: 40px 20px 40px 20px;">
During my career in the IT Company I was posted as a manual tester. Yeah, I was surprised to know that companies pay you only to check if a couple of buttons work in web applications. My idea of software engineering was nowhere close to what I was doing there (manually testing websites). However, I got to learn almost everything related to corporate culture and business. I gradually moved on to performance testing and continued as a performance tester for a year. Finally, after four years I decided to quit and joined another firm which was a startup.	
</p>

<p style="margin: 40px 20px 40px 20px;">	
Here I found myself in an ocean of opportunities. All the shackles were broken that kept my learning restrained and I was free to pick my weapon and charge. I took up automation testing. I learnt Ruby, RSpec and Capybara and took baby steps towards automation. In a couple of months I was capable of automating most of the app. I then took the plunge and got into development. It wasn’t easy for me ( it still isn’t ). I learn everyday. With every task I learn more and more. My thirst for knowledge will never end and that is what drives me to keep learning and developing. One day I dream to be an ace developer and make a difference in my contribution to this world.
</p>
