<div class="row">
	<div class="jumbotron col-md-6" style="opacity: 0.5; margin-top: 130px;">
  	<h1 style="font-family: Comfortaa; margin-left: 30px;">Vinod Dalavai</h1>
  	<p style="margin-left: 50px;">Ruby on Rails developer</p>
	</div>
	<%= image_tag 'vinod.jpg', {:class => 'img-responsive col-md-6'} %>
</div>