<div class="row">
	<div class="jumbotron col-md-6" style="opacity: 0.5; margin-top: 100px;">
  	<h1 style="font-family: Comfortaa; margin-left: 30px;">Vinod Dalavai</h1>
  	<p style="margin-left: 50px;">Ruby on Rails developer</p>
	</div>
	<%= image_tag 'vinod.jpg', {:class => 'img-responsive col-md-6'} %>
	<%= link_to fa_icon("file", text:"Download Resume"), download_resume_path, {class: 'btn btn-default', style: "font-family: Dosis; font-size: 15px; margin-left: 30px; margin-top: 20px;"} %>
</div>
