<%= content_for :page_heading do %>
	Vinod Dalavai
<% end %>

<p style="margin: 40px 20px 40px 20px;"> 
	Hey there! I am Vinod and I am a Ruby on Rails developer. 
</p>

<p style="margin: 40px 20px 40px 20px;"> 
	This is my blog where I will discuss some basics of programming mostly pertaining to Ruby. In addition to technical stuff I will also talk about general issues we all face, such as, “How to plan my day?”, “How to stay focussed?”etc,. I am no expert in any of this but it’s good to share things you get to know. I believe that the more you share the more you learn and follow. You can feel free to post your comments, views and questions here and I will not fail to answer you. Let’s learn and improve as a community! Pls visit the “About me” page to know more about me. I find a lot of people like me with the same questions in their mind as I used to have. This blog may help you.
</p>