<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      You received a comment. 
    </h2>
    <p>
      Detail of the comment:<br><br>
      <strong>Article title:</strong> <%= @commented_article_title %><br>
      <strong>Comment:</strong> <%= @comment_added %><br>
      <strong>Commenter:</strong> <%= @commenter_name %><br>
    </p>
    <i>
      Cheers!<br>
      Vinod
    </i>
  </body>
</html>